{% extends 'base.html' %}

{% block title %}Objective-C Development - Tree Menu Demo{% endblock %}

{% block header %}Objective-C Development{% endblock %}

{% block content %}
    <p>This is the Objective-C development page of the Tree Menu demonstration.</p>
    <p>We develop Objective-C applications for iOS.</p>
    <p>Our Objective-C developers are experienced in maintaining and updating legacy iOS applications.</p>
    <p>Notice how the menu on the left highlights the current page and expands the relevant sections.</p>
{% endblock %}